body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  align-items: center;
  background-color: #005f40;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

nav a {
  display: inline-block;
  height: 1.5em;
  margin: 0 1.5em 0 0;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

nav img {
  display: inline-block;
  position: relative;
  width: auto;
  max-height: 90px;
}

form div {
  margin: 1em;
  display: flex-column;
  justify-content: center;
}
